body{
    margin:0;
    background: linear-gradient(rgba(231, 238, 132, 0.973), rgb(238, 148, 203));
    .main-div{
        width: 70%;
         background: linear-gradient(#8ee4fa, #d991e7);
         margin-left:150px;
         margin-top:80px;
            h1{
                background-color: purple;
                color: white;
                display: flex;
                justify-content: space-between;
                width: 98.8%;
                align-items: center;
                padding: 5px;
                font-style: oblique;
                a{
                    text-decoration: none;
                    color: white;
                }
               }
             #user-chat-box{
                   #chat-messages-list{
                    list-style: none;
                    .other-message{
                        text-align: left;
                        padding: 2px;
                        margin-left: -30px;
                        h3{
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        }
                        span{
                            display: inline-block;
                            padding:10px;
                            background-color: lightyellow;
                            margin-top: -15px;
                            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            border: 1px solid lightgray;
                            border-radius: 10px;
                        }
                    }
                    .self-message{
                        text-align: right;
                        padding: 2px;
                        h3{
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        }
                        span{
                            display: inline-block;
                            padding:10px;
                            background-color: rgb(174, 243, 174);
                            margin-top: -15px;
                            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                            border: 1px solid lightgray;
                            border-radius: 10px;
                        }
                    }
                    }
                    #chat-message-input-container{
                        width: 100%;
                        border-top: 2px solid gray;
                        display: flex;
                        height:7%;
                        input{
                            width:80%;
                            border: none;
                            background-color: aliceblue;
                        }
                        input:focus{
                            border: none;
                            outline: none;
                        }
                        button{
                            width:20%;
                            font-size: 20px;
                            background-color: rgb(108, 167, 243);
                            border: none;
                            color:white;
                            font-weight: bold;
                        }
                        button:hover{
                            cursor: pointer;
                        }
                    }
             }
               }
    }